#canvas {
	position: relative;
	width:1803px;
	height:1190px;
	margin:auto;
}

#left {
	padding-top:50px;
	width: 1000px;
	height: 1103px;
	position: relative;
	border-right:3px solid;

}

#right {
	position: relative;
	width:801;
	left: 1003px;
	top: -1155px;


}

#parentHorse {

	background-color: white
}

#manHorse {
	
	margin:auto;
	width: 500px;
	height: 550px;
	background-color: white
}

#recordHorse {
	border-top:3px solid;
	background-color: white
}

.title{
	text-align: center;
	font-weight: bold;
}
.subinfo{
	font-size:12px;
	text-align:center;
}