#canvas {
	position: relative;
	width:1765px;
	height:1162px;
	margin:auto;
	border:3px solid;
}
h1{
	text-align: center
}
#left {
	padding-top:50px;
	width: 960px;
	height: 1112px;
	position: relative;
	border-right:3px solid;
	overflow: hidden;

}

#right {
	position: absolute;
	width:801px;
	left: 963px;
	top: 0px;
	overflow:hidden

}

#parentHorse {
	width:960px;
	background-color: white
}

#manHorse {
	
	margin:auto;
	width: 500px;
	height: 550px;
	background-color: white
}

#recordHorse {
	border-top:3px solid;
	background-color: white;
	
}

.title{
	text-align: center;
	font-weight: bold;
}
.subinfo{
	font-size:12px;
	text-align:center;
}